{% extends 'base.html.twig' %}

{% block title %}Books by count authors{% endblock %}

{% block body %}
    <h1>Books with {{ limit }} coauthors and more</h1>
    <p>
        You can use query params "<b>type</b>" with value "<b>orm</b>" or "<b>raw</b>". default value is "raw"
    </p>
    <p>
        You can use query params "<b>limit</b>" for set count authors for filter. default value is "3" (3 and more)
    </p>
    <p>
        Example: ?type=orm&limit=2
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Year</th>
            <th>Authors</th>
            <th>Cover</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}
                </td>
                <td>{{ book.description }}
                </td>
                <td>{{ book.year }}
                </td>
                <td>
                    {{ book.count_authors }}
                </td>
                <td>
                    {{ book.cover }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
