<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {# beware that the blocks in your template may be named different #}
    {% block head_css %}
    {% endblock %}
    {% block head_js %}
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>

<header class="navbar navbar-expand flex-column flex-md-row bd-navbar">

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_book_index') }}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_book_co_authors') }}">Books by co-authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_author_index') }}">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Sonata Admin</a>
            </li>
        </ul>
    </div>

</header>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <main class="col-md-12 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            {% block body %}{% endblock %}
        </main>
    </div>
</div>
</body>
</html>
